@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/*-----------------------------
        default styles
-----------------------------*/
:root {
    --btn-primary: #E02C6D;
    --para-text: #6C6C6C;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    text-transform: capitalize;
    scroll-behavior: smooth;
    background-color: #0f0f14;
    color: #ffffffda;
}

.offset:before {
    height: 7.5em;
    margin-top: -2em;
    content: "";
    display: block;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}

section {
    width: 90%;
}

.navbar,
.navbar-nav,
.main-heading {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 24px;
    background-color: var(--btn-primary);
    transition: all .5s ease-in-out;
}

.btn:hover {
    box-shadow: -5px 5px 10px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

.btn1 {
    font-size: 12px;
    display: inline-block;
    padding: 5px 10px;
    background-color: var(--btn-primary);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.btn1:hover {
    box-shadow: -2px 2px 8px 2px rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*-----------------------------
        header part
-----------------------------*/

header {
    height: 550px;
    background-color: #0f095cd0;
    color: #ffffff;
    padding: 42px 156px 86px;
    overflow: hidden;
}

header:hover .main-heading {
    transform: scale(1.1);
}

.navbar {
    justify-content: space-between;
    font-weight: 500;
    font-size: .9em;
    height: 44px;
    margin-bottom: 67px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: -1px;
    width: 100%;
    z-index: 1;
    background-color: #0f095cd0;
}

.nav-menu {
    margin-left: 156px;
}

.nav-item {
    margin-right: 36px;
}

.log-in {
    margin-right: 156px;
}

.fa-sign-in-alt {
    margin-right: 12px;
}

.main-heading {
    margin-top: 60px;
    justify-content: space-between;
    transition: transform .5s ease-in-out;
}

.head-title {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 27px;
}

.heading-half img {
    width: 100%;
    height: 100%;
}

.fa-arrow-right {
    margin-left: 12px;
}

/*-----------------------------
        main part
-----------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 27px;
    column-gap: 30px;
    justify-content: center;
}

.player {
    overflow: hidden;
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.15);
}

.player img {
    width: 100%;
    height: 256px;
    transition: transform .5s ease-in-out;
}

.player:hover img {
    transform: scale(1.12);
}

.player-name {
    font-weight: 700;
    font-size: 28px;
}

.player:hover .player-name {
    color: #fd0862;
}

.player-details {
    color: var(--para-text);
    font-size: 14px;
    line-height: 26px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.highlights {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlights-first-half {
    margin-right: 80px;
}

.highlights-title {
    font-weight: 700;
    font-size: 48px;
    list-style: 60px;
    margin: 0;
    margin-bottom: 8px;
}

.highlights-text {
    font-size: 16px;
    line-height: 28px;
    color: var(--para-text);
    margin-bottom: 24px;
}

.highlights-second-half img {
    width: 527px;
    height: 387px;
    overflow: hidden;
    border: 5px solid #E02C6D;
    transition: all .5s ease-in-out;
}

.highlights-second-half:hover img {
    transform: scale(.9);
}

.section-title {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    margin-bottom: 50px;
}

.images,
.videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .5em;
    row-gap: .5em;
}

.video-gallery {
    margin-top: 120px;
}

.videos {
    grid-template-columns: repeat(2, 1fr);
}

.image img {
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
}

.image {
    overflow: hidden;
    border: 4px solid #E02C6D;
    border-radius: 7px;
}

.image:hover img {
    cursor: pointer;
    transform: scale(1.2);
}

/*-----------------------------
        footer part
-----------------------------*/

footer {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

footer img {
    width: 40%;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    color: #c0c5d4;
    margin-right: 14px;
    font-size: 1.1em;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.facebook:hover {
    color: #3a5fad;
}

.insta:hover {
    color: #9539ca;
}

.twitter:hover {
    color: #00acee;
}

.youtube:hover {
    color: #FF0000;
}

footer p {
    font-size: 1.1em;
}


/*-----------------------------
        media queries
-----------------------------*/

@media only screen and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .navbar {
        padding: 10px;
        margin-bottom: 20px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: 0;
        left: -1px;
        font-size: .8em;
        z-index: 1;
        background-color: #0f095cd0;
    }

    .nav-menu {
        margin: 0;
    }

    .navbar-nav {
        margin: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        height: 50%;
        background: #0f095cd0;
        top: 64px;
        left: -110%;
        justify-content: center;
        align-items: center;
        transition: all .5s;
        z-index: 1;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .nav-link {
        transition: all .5s ease-in-out;
    }

    .nav-item:hover .nav-link {
        background-color: rgba(255, 255, 255, 0.87);
        padding: 5px 7px;
        color: #070708;
    }

    nav ul li {
        display: block;
        line-height: 50px;
    }

    .checkbtn {
        display: block;
        margin: 0;
    }

    #check:checked~ul {
        left: 0;
    }

    .log-in {
        margin-right: 20px;
    }

    .main-heading {
        margin-top: 30px;
        flex-direction: column;
    }

    .head-title {
        font-size: 36px;
        line-height: 50px;
    }

    .heading-half img {
        margin-top: 40px;
        width: 260px;
        height: 260px;
    }

    section {
        margin-bottom: 50px;
    }

    .players {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .player {
        width: 90%;
    }

    .highlights {
        margin-top: 70px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 400px;
    }

    .highlights-title {
        font-size: 30px;
        line-height: 40px;
    }

    .highlights-second-half img {
        width: 328px;
        height: 248px;
        margin: 0;
        margin-top: 30px;
    }

    .images,
    .videos {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        margin-top: 10px;
    }

    footer img {
        width: 60%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    header {
        padding: 30px;
        padding-bottom: 0;
    }

    .nav-menu {
        margin-left: 20px;
    }

    .log-in {
        margin-right: 80px;
    }

    .main-heading {
        padding: 0 40px;
    }

    .head-title {
        font-size: 3.2em;
    }

    .heading-half img {
        margin-top: 40px;
        width: 80%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1em;
    }

    .highlights {
        margin-top: 0;
        flex-direction: column;
    }

    .highlights-second-half img {
        margin: 0;
        margin-top: 30px;
    }

    .images {
        grid-template-columns: repeat(2, 1fr);
    }

    footer img {
        width: 50%;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .head-title {
        font-size: 3.6em;
    }

    .players {
        column-gap: 20px;
    }

    .player {
        width: 280px;
    }
}