@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/*-----------------------------
        default styles
-----------------------------*/
:root {
    --btn-primary: #E02C6D;
    --para-text: #6C6C6C;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    text-transform: capitalize;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}

.navbar,
.navbar-nav,
.main-heading {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 24px;
    background-color: var(--btn-primary);
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*-----------------------------
        header part
-----------------------------*/

header {
    height: 550px;
    background-color: #1208a8ec;
    color: #ffffff;
    margin-bottom: 70px;
    padding: 42px 100px 0;
}

.navbar {
    justify-content: space-between;
    font-weight: 500;
    font-size: .9em;
    height: 44px;
    margin-bottom: 67px;
}

.nav-item {
    margin-right: 36px;
}

.fa-sign-in-alt {
    margin-right: 12px;
}

.main-heading {
    justify-content: space-between;
}

.head-title {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    margin-bottom: 27px;
}

.heading-half img {
    width: 100%;
    height: 100%;
}

.fa-arrow-right {
    margin-left: 12px;
}

/*-----------------------------
        main part
-----------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 75%;
    margin-bottom: 100px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 40px;
}

.player {
    width: 100%;
    padding: 12px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player img {
    width: 100%;
    height: 65%;
}

.player-name {
    font-weight: 700;
    font-size: 1.1em;
    color: #18191F;
}

.player-details {
    color: var(--para-text);
    font-size: .7em;
    line-height: 22px;
}

.highlights-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.highlights-half {
    margin-right: 60px;
}

.highlights-title {
    color: #0A0826;
    font-weight: 700;
    font-size: 2.5em;
    margin: 0;
    margin-bottom: 8px;
}

.highlights-text {
    font-size: .7em;
    line-height: 20px;
    color: var(--para-text);
    margin-bottom: 24px;
}

.highlights-half img {
    width: 100%;
    height: 80%;
}

/*-----------------------------
        footer part
-----------------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

footer img {
    height: 8em;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    color: #969BAB;
    margin-right: 14px;
    font-size: 1.1em;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.social-icons a:hover {
    font-size: 1.5em;
}

.facebook:hover {
    color: #3b5998;
}

.insta:hover {
    color: #8a3ab9;
}

.twitter:hover {
    color: #00acee;
}

.youtube:hover {
    color: #FF0000;
}

footer p {
    font-size: 1.1em;
}


/*-----------------------------
        media queries
-----------------------------*/

@media only screen and (max-width: 767px) {
    .navbar {
        margin: 0;
        margin-bottom: 20px;
    }

    .navbar-nav {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .nav-item {
        margin-bottom: 10px;
    }

    .main-heading {
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
        padding-bottom: 0;
        margin-bottom: 30px;
    }

    .navbar {
        font-size: .8em;
    }

    .checkbtn {
        display: block;
    }

    .navbar-nav {
        position: fixed;
        height: 50%;
        background: #0d3fc9ee;
        top: 100px;
        left: -100%;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        line-height: 50px;
    }

    #check:checked~ul {
        left: 0;
    }

    .head-title {
        font-size: 2.5em;
    }

    .heading-half img {
        margin-top: 40px;
        width: 65%;
        height: 80%;
    }

    section {
        margin-bottom: 50px;
    }

    .players {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .highlights-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .highlights-half img {
        margin-top: 20px;
    }

    footer img {
        width: 100%;
    }

    .social-icons a {
        padding: 8px;
    }

    footer p {
        font-size: .8em;
    }
}